* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.main-visual {
	width: 100%;
	height: 400px;
	background-image: url(ino-7_exercise-img/mv.jpg);
	background-size: cover;
	background-position: bottom;
}

.headline {
	padding: 20px;
}

main{
	width: 840px;
	margin: 50px auto;
}

.webcamp {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #d1d1d1;
}

.webcamp-pro {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #d1d1d1;
}

.webcamp-woman {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #d1d1d1;
}

.webcamp-career {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #d1d1d1;
}
